@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>You don't seem to have a home, please enter the ID now.</p>

<form method="post" action="">
   <div class="form-group">
      <label for="textHomeId">Home ID</label>
      <input type="text" id="textHomeId" name="textHomeId" />
   </div>
</form>
</div>
