@{
	ViewData["Title"] = "Home page";
}
<div class="text-center">
	@*<h1>@ViewData["Title"]</h1>*@

	<h1 class="display-4">Welcome</h1>
	<p>This is a <b>very</b> simple grocery list application.</p>
	<p>If you have been added to a list, please use that link to access your site.</p>
</div>
